.cartao {
    text-align: end;
    background-color: hsl(251, 61%, 37%)!important;
    transition: transform 0.5s ease;
}
.cartao:hover{
    transform: translateY(-15px);
}
.titulo-cartao{
    text-decoration: dotted;
}